p {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.main {
  margin-top: 15px;
  margin-bottom: 15px;
}
.sidebar {
  float: right;
  .panel {
    width: 290px;
    box-sizing: border-box;
    background-color: #fff;
    margin-bottom: 15px;
    border-radius: 3px;
    &.pd {
      padding: 5px 10px 8px;
      p {
        padding: 0;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
    h2 {
      height: 30px;
      background-color: #f6f6f6;
      font-weight: normal;
      font-size: 14px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      line-height: 30px;
      padding-left: 10px;
    }
    .no-reply {
      padding: 0;
      li {
        padding: 0 10px;
        line-height: 25px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      a {
        color: #888;
        font-size: 14px;
      }
    }
    .rank {
      padding: 0;
      li {
        padding: 0 10px;
        line-height: 25px;
        display: flex;
        font-size: 14px;
      }
      .score {
        color: #333;
        margin-right: 25px;
      }
      a {
        color: #888;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .title {
      font-size: 14px;
      color: #333;
      line-height: 1.5;
      margin-bottom: 15px;
    }
    .login {
      font-size: 14px;
      a {
        color: #d0d0d0;
        margin: 0 2px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .login-gh {
      display: inline-block;
      background-color: #6495ED;
      color: #fff;
      padding: 2px 5px;
      margin-top: 5px;
      border-radius: 3px;
      &:hover {
        background-color: saturate(#6495ED, 100%);
      }
    }
  }
}
.content {
  margin-right: 305px;
  border-radius: 3px;
  padding-bottom: 2px;
  background-color: #fff;
  .link-router {
    background-color: #f6f6f6;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 3px 15px;
    font-size: 15px;
    line-height: 2;
    a {
      font-size: 14px;
      display: inline-block;
      padding: 2px 4px;
      line-height: 1;
      border-radius: 3px;
      color: blueviolet;
      &:hover {
        color:  adjust-hue(blueviolet, 30deg);
      }
      &.active {
        background-color: blueviolet;
        color: #fff;
      }
    }
  }
  .list {
    padding: 0;
    li {
      display: flex;
      padding: 10px 8px;
      align-items: center;
      background-color: #fff;
      border-bottom: 1px solid #f0f0f0;
      &:last-child {
        border-bottom: none;
      }
      &:hover {
        background-color: #f6f6f6;
      }
    }
    .meta {
      width: 70px;
    }
    .avator {
      font-size: 0;
      margin-right: 10px;
      img {
        width: 30px;
        height: auto;
      }
    }
    .comments {
      color: blueviolet;
      margin-right: 1px;
      font-size: 15px;
      line-height: 1.1;
    }
    .watcher {
      color: #aaa;
      margin-left: 1px;
      font-size: 13px;
    }
    .label {
      display: block;
      font-style: normal;
      font-size: 12px;
      padding: 2px 3px;
      color: #999;
      background-color: #e5e5e5;
      border-radius: 3px;
      margin: 0 10px;
      &.special {
        background-color: dodgerblue;
        color: #fff;
      }
    }
    .title {
      display: block;
      &:hover {
        text-decoration: underline;
      }
      flex-grow: 1;
    }
    time {
      font-size: 12px;
      color: #666;
      display: block;
      width: 50px;
      text-align: right;
    }
  }
  .pages {
    padding: 0 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    li {
      flex-grow: 1;
      height: 35px;
      line-height: 35px;
      text-align: center;
    }
    .prev {
      text-align: left;
    }
    .next {
      text-align: right;
    }
  }
}
